@page
@model VNTourLandProject.Pages.Payment.CallBackStripeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đang xác nhận thanh toán...</title>
    <meta http-equiv="refresh" content="3;url=/Manage/MyBooking" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h2>@Model.Message</h2>
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</body>
</html>
